.page-header {
    overflow:hidden;
    position: relative;
    width:100%;
}

.header-left {
    display: inline-block;
    /*background: $primary-color;*/
    background: rgba(6, 74, 43, .7);
    width: 100%;
    height: 50%;
    vertical-align: top;
    position: relative;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}


.header-left svg {
    width: 13rem;
    height: 8rem;
}

.header-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-content
{
    color: #fff;
    z-index: 1;
    margin:0 2rem;
}

.slashed-shape {
    position: absolute;
    display: inline-block;
    width: 10rem;
    height: calc(100% + 4rem);
    right: -5rem;
    background: inherit;
    transform: rotate(15deg);
    top: -2rem;
    display: none;
}

.slashed-shape::after {
    content: '';
    display: block;
    width: 1rem;
    height: 80%;
    background: #4eb448;
    position: absolute;
    left: 99%;
    top: -2rem;
    z-index: 0;
}

.slashed-shape-mobile {
    display: block;
    height: 1rem;
    position: absolute;
    bottom: -1.5rem;
    width: calc(100% + 2rem);
    background: #4eb448;
    transform: rotate(-4deg);
    left: -1rem;
}

.slashed-shape-mobile::before {
    content: '';
    display: block;
    width: 100%;
    height: 2rem;
    background: #00492e;
    position: absolute;
    bottom: 100%;
}


@media only screen and (min-width: 768px){
    .page-header {
        height:35rem;
        height: 60vh;
        max-height: 28rem;
        overflow:hidden;
        margin-bottom: auto;
    }

    .header-left
    {
        width: 55%;
        height: 100%;
        background: $primary-color;
        text-align: left;
    }
    .header-left svg {
        width: 20rem;
        position: relative;
        height: auto;
        z-index: 1;
        margin-bottom: 1rem;
    }
    .header-right
    {
        width: 45%;
        height: 100%;
        margin-top: auto;
        display: inline-block;
        position:relative;
    }

    .header-content
    {
        width: 24rem;
        max-width: 24rem;
    }

    .header-content,
    .header-left h1
    {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }
    .header-content h1
    {
        position:relative;
        top:0;
        transform:none;
    }
    .slashed-shape {display:block;}
    .slashed-shape-mobile,
    .slashed-shape-mobile:before {display:none;}

}

@media only screen and (min-width:1200px){
    .header-left
    {
        width: 40%;
    }
    .header-right
    {
        width:60%;
    }
    .header-left svg {
        width: 23rem;
    }
}