.news-post {
    margin-bottom: 2rem;
    border-bottom: 1px solid #52BD48;
    padding-bottom: 2rem;
}

.post-categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.byline {
    display: inline-block;
    margin-right: 1rem;
}